<project>
    <actions></actions>
    <description></description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <EnvInjectJobProperty>
            <info>
                <propertiesContent>CI=jenkins</propertiesContent>
                <loadFilesFromMaster>false</loadFilesFromMaster>
            </info>
            <on>true</on>
            <keepJenkinsSystemVariables>true</keepJenkinsSystemVariables>
            <keepBuildVariables>true</keepBuildVariables>
            <overrideBuildParameters>false</overrideBuildParameters>
            <contributors></contributors>
        </EnvInjectJobProperty>
    </properties>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>H H * * *</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent install -Psonar,spring -U</command>
        </hudson.tasks.Shell>
        <hudson.tasks.Shell>
            <command>				echo "Running sonar please wait..."
				set +x
				./mvnw $SONAR_MAVEN_GOAL -Psonar,spring -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.login=$SONAR_AUTH_TOKEN || echo "Tests failed"
				set -x
				</command>
        </hudson.tasks.Shell>
    </builders>
    <publishers>
        <hudson.tasks.ArtifactArchiver>
            <artifacts>**/surefire-reports/*.xml</artifacts>
            <allowEmptyArchive>false</allowEmptyArchive>
            <defaultExcludes>true</defaultExcludes>
            <fingerprint>false</fingerprint>
            <onlyIfSuccessful>false</onlyIfSuccessful>
        </hudson.tasks.ArtifactArchiver>
        <jenkins.plugins.slack.SlackNotifier>
            <startNotification>false</startNotification>
            <notifySuccess>false</notifySuccess>
            <notifyAborted>false</notifyAborted>
            <notifyNotBuilt>false</notifyNotBuilt>
            <notifyUnstable>true</notifyUnstable>
            <notifyFailure>false</notifyFailure>
            <notifyBackToNormal>false</notifyBackToNormal>
            <notifyRepeatedFailure>true</notifyRepeatedFailure>
            <notifyRegression>false</notifyRegression>
            <includeTestSummary>true</includeTestSummary>
            <includeFailedTests>true</includeFailedTests>
            <showCommitList>true</showCommitList>
            <commitInfoChoice>AUTHORS_AND_TITLES</commitInfoChoice>
            <room>spring-cloud-firehose</room>
        </jenkins.plugins.slack.SlackNotifier>
    </publishers>
    <buildWrappers>
        <hudson.plugins.sonar.SonarBuildWrapper></hudson.plugins.sonar.SonarBuildWrapper>
    </buildWrappers>
    <scm class='hudson.plugins.git.GitSCM'>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/spring-cloud/spring-cloud-circuitbreaker</url>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>main</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <gitTool>Default</gitTool>
        <extensions>
            <hudson.plugins.git.extensions.impl.WipeWorkspace></hudson.plugins.git.extensions.impl.WipeWorkspace>
            <hudson.plugins.git.extensions.impl.LocalBranch>
                <localBranch>**</localBranch>
            </hudson.plugins.git.extensions.impl.LocalBranch>
        </extensions>
    </scm>
    <jdk>jdk8</jdk>
</project>
